---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'col-breakpoints';
// breakpoints @ 0, 600, 900

// http://localhost:4000/

$brand-color1: #d30300; //red
$brand-color2: #529843; //green
$brand-color3: #dd6503; //orange
$brand-color4: #e9f898; //yellow
$brand-color5: #252525; //grey



body{
	font-family: "ff-tisa-sans-web-pro";
	line-height: 2;
 // background-color: $brand-color5;

  a{
    &:hover{
      cursor: pointer;
    }
  }
}

.bold-text{
  font-weight: bold;
}


// header - nav bar

header{
  overflow: hidden;
}

nav{
  z-index: 1;
	background-color: $brand-color1;
	width: 100%;
  float: left;
  font-family: "ff-more-web-pro-condensed", serif;
  font-size: 30px;
  position: relative;

  border-bottom: 25px solid $brand-color2;
}


.nav-buttons-container{
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding-top: 0.7rem;
  overflow: hidden;
  
  a{
    padding: 0.6rem 1.1rem 0.4rem 1rem;
    border-radius: 10px;
    color: white;
    text-decoration: none;

    &:hover{
      background-color: #652319;
      cursor: pointer;
    }
  }

}

.nav-container-left{
  float: left; 
  width: 50%;
}

.nav-container-right{
  float: right;
  width: 50%;
  text-align: right;
}



// main middle content

.home-page-container{
	display: inline-block;
  height: 300px;
}

.home-slice-intro{
  z-index: 2;
	width: 100%;
  padding-bottom: 2rem;
  position: relative;
}

.front-page-welcome{
  z-index: 2;
  width: 100%;
  max-width: 900px;
  min-height: 500px;
  margin: 3rem auto 2rem auto;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background-color: darken($brand-color1, 20%);
  
  // when div reaches max-width, the borderes are rounded
  @media (min-width: 0){
    border-radius: 0;
  }

  @media (min-width: 1200px){
    border-radius: 20px;
  }
}

.about-us-info{
  z-index: 2;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  overflow: hidden;
  padding-top: 2rem;
  box-sizing: border-box;
  padding: 2.5rem;
  color: white;
  position: relative;

  h1, h2{
    text-align: center;
    margin: 0 auto 1rem auto;
    line-height: 1.4;
  }
  
  h2{
    font-family: "ff-more-web-pro-condensed";
    font-style: italic;
    font-size: 18px;
    letter-spacing: 2px;
  }

  @media (min-width: 0){
    margin: 0 auto;
  }

  @media (min-width: 600px){
    padding: 1rem;
  }

  @media (min-width: 900px){
    width: 100%;
    padding: 2.5rem;
    padding-bottom: 3rem;
  }
}

.about-us-text{
  z-index: 2;
  margin: 0 auto;
  line-height: 2;
  position: relative;
  overflow: hidden;

  @media (min-width: 0){
    font-size: 16px;
    padding: 0;
    width: 95%;

    h1{
      font-size: 26px;
    }
  }

  @media (min-width: 600px){
    font-size: 18px;
    padding: 2rem 0;
    width: 60%;

    h1{
      font-size: 30px;
    }
  }
}

.about-us-bg-img{
  z-index: 1;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0.6;

  @media (min-width: 0){
    height: 100%;
  }

  @media (min-width: 600px){
    height: 800px;
  }
}

.background-gif{
  z-index: 1;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0.6;
  width: 100%;
}





%front-page-image-container{
  float: left;
  padding-top: 3rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

%front-page-background-image{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0 auto;
}

%front-page-h3{
  z-index: 2;
  color: white;
  font-size: 28px;
  line-height: 1;
  margin: 0 auto;
  position: relative;
}





// additional info styles


.add-info{
  width: 100%;
  overflow: hidden;
  background-color: darken($brand-color1, 20%);
  border-top: 25px solid $brand-color1;
}

.add-info-content{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2rem;
}

.hours-location{
  float: left;
  color: white;

  h2{
    margin: 0 auto;
    text-align: center;
  }

  @media(min-width: 0){
    width: 100%;
  }

  @media(min-width: 900px){
    width: 30%;
    margin: 0 5%;
  }
}

.location{
  text-align: center;

  h3{
    margin: 1rem auto 0 auto;
  }

  p{
    margin: 0 auto;
  }

  a{
    color: $brand-color4;
    text-decoration: underline;
  }
}

.map{
  width: 100%;
  min-width: 230px;
  max-width: 320px;
  margin: 2rem auto;
  box-sizing: border-box;
  border: 10px solid #F9F9F9;

  &:hover{
    cursor: pointer;
  }
}


.more-about-us{
  float: left;
  color: white;
  overflow: hidden;
  box-sizing: border-box;

  h1{
    margin: 0 auto;
    text-align: center;
  }

  h3{
    font-size: 22px;
    line-height: 2;
  }

  a{
    text-decoration: none;
    color: white;
  }

  @media(min-width: 0){
    width: 100%;
    margin: 2rem auto;
  }

  @media(min-width: 900px){
    width: 50%;
    margin: 0 5%;
  }
}


.more-about-us-link{
  width: 100%;
  min-width: 200px;
  height: 150px;
  margin: 1rem auto;
  text-align: center;
  float: left;
  border-radius: 10px;

  &:nth-child(even){
    background-color: $brand-color1;
  }

  &:nth-child(odd){
    background-color: $brand-color2;
  }

}

.big-text{
  z-index: 2;
  font-size: 36px;
  line-height: 1;
  margin: 0 auto;
  position:relative;

  /* WebKit (Safari/Chrome) Only */
  // -webkit-text-stroke: 1px $brand-color1;

  /* If we weren't using text-shadow, we'd set a fallback color
   and use this to set color instead
  -webkit-text-fill-color: white; */

  color: $brand-color4;

  text-shadow:
  4px 2px 0 $brand-color1,
  /* Simulated effect for Firefox and Opera
     and nice enhancement for WebKit */
  -1px -1px 0 $brand-color1,  
  1px -1px 0 $brand-color1,
  -1px  1px 0 $brand-color1,
  1px  1px 0 $brand-color1;

  .queen-of-pies{
    font-style: italic;
  }
}
















// Menu Page

.menu-container{
  width: 100%;
  max-width: 1024px;
  margin: 2rem auto;
  overflow: hidden;
  border-sizing: border-box;
  border: 15px solid $brand-color1;
  border-radius: 20px;


  line-height: 1.4;

  h1{
    font-family: "ff-more-web-pro-condensed";
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    font-style: italic;
  }

  h2{
    text-align: center;
    margin-bottom: 0.2rem;
    font-family: "ff-more-web-pro-condensed";
    letter-spacing: 1px;
    font-style: italic;
  }
}

.menu-pizza, .menu-salads-antipasta, .menu-desserts-drinks{
  width: 100%;
  overflow: hidden;
}

.menu-booze{
  @extend .menu-pizza;

  h2{
    text-align: center;
  }

  h3{
    text-align: center;
  }
}

@media (min-width: 0px){

  .pizza-toppings{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem;
  }

  .tried-and-true{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem;

    h3{
      text-align: center;
      margin-top: 0;
      font-size: 17px;
    }
  }

  .salads, .antipasta, .calzone, .subs, .wine, .beer{
    width: 100%;    
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem;

    h3{
      font-weight: 400;
    }
  }

  .desserts, .beverages{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem;

    h3{
      font-weight: 400;
    }

    .menu-italic{
      text-align: center;
    }
  }
}



@media (min-width: 600px){

  .pizza-toppings{
    width: 40%;
    margin: auto 5%;
    float: left;
    overflow: hidden;
  }

  .tried-and-true{
    width: 40%;
    margin: auto 5%;
    float: left;
    overflow: hidden;

    h3{
      text-align: center;
      margin-top: 0;
      font-size: 17px;
    }
  }

  .salads, .antipasta, .calzone, .subs, .wine, .beer{
    width: 40%;
    margin: auto 5%;
    float: left;
    overflow: hidden;

    h3{
      font-weight: 400;
    }
  }

  .desserts, .beverages{
    width: 40%;
    margin: auto 5%;
    float: left;
    overflow: hidden;

    h3{
      font-weight: 400;
    }

    .menu-italic{
      text-align: center;
    }
  }
}

.row-food{
  width: 90%;
  overflow: hidden;
}

.food-option{
  float: left;
  margin: 0;
  font-size: 17px;
}

.tried-menu-container{
  width: 300px;
  margin: 0 auto;

  .fa-circle{
    padding: 0 5px 5px 0;
  }
}

.menu-italic{
  font-style: italic;
  font-size: 1rem;
}

.food-price{
  float: right;
  font-style: italic;
  margin: 0 auto 0.5rem;
  font-size: 17px;
}

.food-extra-info{
  float: left;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 1rem;
}














footer{
  padding-bottom: 2rem;
	background-color: $brand-color5;
	clear: both;

	color: white;

	a{
		color: $brand-color4;
	}
}

%foot-divs{
	width: 50%;
	margin: 0 auto;
	padding-top: 3rem;
  padding-bottom: 1rem;
	text-align: center;
	font-weight: bold;
  font-size: 15px
}

.foot-maillist, .foot-copyright-info{
	@extend %foot-divs;
}






