---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'variables';

@import 'menu-page';

@import 'page_breakpoints';

@import 'col-breakpoints';
// breakpoints @ 0, 600, 900

// http://localhost:4000/


// header - nav bar

header{
  overflow: hidden;
}

.logo{
  width: 100%;
}

nav{
  z-index: 1;
	background-color: $brand-color1;
	width: 100%;
  float: left;
  font-family: "ff-more-web-pro-condensed", serif;
  font-size: 20px;
  position: relative;
}


.nav-buttons-container-sm, .nav-buttons-container-md{
  width: 100%;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  
  a{
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;

    &:hover{
      background-color: #652319;
      cursor: pointer;
    }
  }
}

.nav-buttons-container-md{
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;

  a{
    margin-right: 1.5rem;
    border-radius: 10px;
  }
}

.nav-container{
    a{
      width: 100%;
      box-sizing: border-box;
      padding: 0.5rem;
      display: block;
      text-align: center;
    }
}

.nav-container-left{
  float: left; 
  width: 50%;
  box-sizing: border-box;
}

.nav-container-right{
  float: right;
  width: 50%;
  box-sizing: border-box;
  text-align: right;

}

.current-nav-button{
  background-color: #652319;
}










// main middle content

.home-page-container{
	display: inline-block;
  height: 300px;
}

.home-slice-intro{
  z-index: 2;
	width: 100%;
  position: relative;
}

.front-page-welcome{
  z-index: 2;
  width: 100%;
  margin: 3rem auto;
  position: relative;
  box-sizing: border-box;

  .tag-line{
    padding: 1rem;
  }
}

.about-us{
  z-index: 2;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  color: white;
  text-align: center;
  position: relative;
}

.about-us-text{
  z-index: 2;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;
  line-height: 2;
  position: relative;
  overflow: hidden;
  background-color: $brand-color1;
}

.about-us-img{
  z-index: 1;
  width: 100%;
  min-width: 1200px;
  position: absolute;
  top: 0;
}

.more-about-us-btn{
  width: 140px;
  height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 0.5em;
  border-radius: 10px;
  background-color: $brand-color2;
  text-align: center;

  &:hover{
    background-color: darken($brand-color2, 10%);
    cursor: pointer;
  }
}

.extra-info{
  width: 70%;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  color: $brand-color5;
  overflow: hidden;

  h1{
    margin: 0 auto;
    text-align: center;
  }
}

.hours{

  p{
    margin: 0 auto;
  }
}

.location{

  p{
    margin: 0 auto;
    text-align: left;
  }

  .address-link, a{
    text-align: center;

  }
}

.more-about-us-link{
  margin-top: 1rem;
  min-width: 200px;
  text-align: center;
  border-radius: 10px;
}


.map{
  width: 100%;
  min-width: 230px;
  max-width: 320px;
  margin: 2rem auto;
  box-sizing: border-box;
  border: 10px solid $brand-color2;
  display: block;

  &:hover{
    cursor: pointer;
  }
}


footer{
  padding-bottom: 2rem;
  background-color: darken($brand-color1, 20%);
	clear: both;

	color: white;
}

%foot-divs{
	width: 50%;
	margin: 0 auto;
	padding-top: 3rem;
  padding-bottom: 1rem;
	text-align: center;
	font-weight: bold;
  font-size: 15px
}

.foot-maillist, .foot-copyright-info{
	@extend %foot-divs;
}






