<!DOCTYPE html>
<html>

  <!--This include tag adds /_includes/head.html to every page that has layout: default in the front matter -->

  {% include head.html %}

  <body>
    
    <!--This include tag adds /_includes/header.html to every page that has layout: default in the front matter -->
    {% include header.html %}

      <div class="wrapper col-md-15">
        <!--Any content underneath the front matter in a page that has layout: default will be inserted here
        {{ content }} -->
        
        <div class="big-picture col-md-15">
          <div class="pizza-image">
            <img src="../_images/big-picture.png">

          </div>
        </div>

        <div class="sicilian-mondays home-page-container col-md-8">

        </div>

        <div class="queen-of-pies home-page-container col-md-7">

        </div>
        
        <div class="our-photos home-page-container col-md-4">

        </div>

        <div class="our-events home-page-container col-md-11">

        </div>

      </div>
    
    <!--This include tag adds /_includes/footer.html to every page that has layout: default in the front matter -->
    {% include footer.html %}

  </body>

</html>
