<!DOCTYPE html>
<html>

  <!--This include tag adds /_includes/head.html to every page that has layout: default in the front matter -->

  {% include head.html %}

  <body>
    
    <!--This include tag adds /_includes/header.html to every page that has layout: default in the front matter -->
    {% include header.html %}

      <div class="wrapper col-md-15">
        <!--Any content underneath the front matter in a page that has layout: default will be inserted here
        {{ content }} -->
        
        <div class="big-picture col-md-15">

          <a href="#"> 
          <div class="pizza-image">

            <!-- welcome messege -->
            <div class="welcoming-messege"> 

              <h1> 
                <span class="text-55"> Come and </span>
                <br>
                <span class="text-80"> join us </span>
                <br> 
                <span class="text-45"> <sup> for a </sup> </span> 
                <span class="text-100"> slice </span> 
              </h1>

            </div>

            <br>
            
            <!-- to go box -->
            <a href="#"> 
            <div class="to-go-box">
              <h2> 
                <span class="text-20"> ...or </span>
                <span class="text-45"> take it </span>
                <br> 
                <span class="text-20"> to </span> 
                <span class="text-45"> go! </span> 
              </h2>
            </div> 
            </a>

            <img class="big-picture-pizza" src="../site-images/big-picture.png">

          </div>
          </a>

        </div>
  
        <div class="first-row col-md-15">
          <a href="#"> 
            <div class="sicilian-mondays home-page-container col-md-8">

              <h3> Check out our </h3>

              <h2> 
                <span class="text-35"> Sicilian Pizza </span>
                <br> 
                Mondays
              </h2>

              <!-- <img class="sicilian-image" src="../site-images/scicilian-mondays.png"> -->

            </div>
          </a>

          <div class="queen-of-pies home-page-container col-md-7">
            <h3> Meet the </h3>
            
            <h2> Queen of Pies </h2>

            <!-- <img class="queen-of-pies-image" src="../site-images/queen-of-pies.svg"> -->

          </div>

        </div>


        <div class="our-photos home-page-container col-md-4">

        </div>

        <div class="our-events home-page-container col-md-11">

        </div>

      </div>
    
    <!--This include tag adds /_includes/footer.html to every page that has layout: default in the front matter -->
    {% include footer.html %}

  </body>

</html>
