---
# Only the main Sass file needs front matter (the dashes are enough)
---

@imports 'breakpoints.scss';

$brand-color1: #d30300;
$brand-color2: #529843;


// breakpoints
$tot-width: 100%;
$num-col: 15;
$gut-width: 0;



$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col; //remember PEMAS //ALWAYS HAVE SPACE between $var - #

         // col-within = # of columns within element
@mixin grid($col-within){
  width: ($col-within * $ind-col-width) + ($gut-width *($col-within - 1 ));
}



@media (min-width: 0){

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15{
    width: 100%;
    margin-right: $gut-width;
  }
  
}


@media (min-width: 500px){
  
  .col-md-1{
    width: 6.66666666667%;
    margin-right: $gut-width;
  }

  .col-md-2{
    width: 13.3333333333%;
    margin-right: $gut-width;
  }

  .col-md-3{
    width: 20%;
    margin-right: $gut-width;
  }

  .col-md-4{
    width: 26.6666666667%;
    margin-right: $gut-width;
  }

  .col-md-5{
    width: 33.3333333333%;
    margin-right: $gut-width;
  }

  .col-md-6{
    width: 40%;
    margin-right: $gut-width;
  }

  .col-md-7{
    width: 46.6666666667%;
    margin-right: $gut-width;
  }

  .col-md-8{
    width: 53.3333333334%;
    margin-right: $gut-width;
  }

  .col-md-9{
    width: 60%;
    margin-right: $gut-width;
  }

  .col-md-10{
    width: 66.6666666667%;
    margin-right: $gut-width;
  }

  .col-md-11{
    width: 73.3333333334%;
    margin-right: $gut-width;
  }

  .col-md-12{
    width: 80%;
    margin-right: $gut-width;
  }

  .col-md-13{
    width: 86.6666666667%;
    margin-right: $gut-width;
  }

  .col-md-14{
    width: 93.3333333334%;
    margin-right: $gut-width;
  }

  .col-md-15{
    width: 100%;
    margin-right: $gut-width;
  }
  
}



body{
	font-family: "ff-tisa-sans-web-pro";
	line-height: 2;
}


// header - nav bar

header{
	margin: 2rem auto;
}

nav{
	background-color: $brand-color1;
	width: 100%;
	height: 50px;
}

.hours-container{
	background-color: $brand-color2;
	width: 100%;
	height: 35px;
}


// wrapper - main middle content

.wrapper{
	height: 800px; //placeholder
	background-color: #e9f898;
}

.home-page-container{
	display: inline-block;
}

.big-picture{
	width: 100%;
	height: 400px; //placeholder
	background-color: #C8B968;

	background-image: '../../restaurant-redesign/images/restaurant-photos/yelp3';
}

.sicilian-mondays{
	height: 350px; //placeholder
	background-color: #5B2815;
	float: left;
}

.queen-of-pies{
	height: 350px; //placeholder
	background-color: #638AF2;
	float: left;
}

.our-photos{
	height: 300px; //placeholder
	background-color: #DEB540;
	float: left;
}

.our-events{
	height: 300px; //placeholder
	background-color: $brand-color2;
	float: left;
}


footer{
	height: 300px; //placeholder
	background-color: #252525;
	clear: both;

	color: white;

	a{
		color: #e9f898;
	}
}

%foot-divs{
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
	padding-top: 3rem;
	text-align: center;
	font-weight: bold;
}

.foot-maillist, .foot-copyright-info{
	@extend %foot-divs;
}





