---
# Only the main Sass file needs front matter (the dashes are enough)
---

@imports 'breakpoints.scss';

$brand-color1: #d30300; //red
$brand-color2: #529843; //green
$brand-color3: #dd6503; //orange
$brand-color4: #e9f898; //yellow


// breakpoints
$tot-width: 100%;
$num-col: 15;
$gut-width: 0;



$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col; //remember PEMAS //ALWAYS HAVE SPACE between $var - #

         // col-within = # of columns within element
@mixin grid($col-within){
  width: ($col-within * $ind-col-width) + ($gut-width *($col-within - 1 ));
}



@media (min-width: 0){

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15{
    width: 100%;
    margin-right: $gut-width;
  }
  
}


@media (min-width: 500px){
  
  .col-md-1{
    width: 6.66666666667%;
    margin-right: $gut-width;
  }

  .col-md-2{
    width: 13.3333333333%;
    margin-right: $gut-width;
  }

  .col-md-3{
    width: 20%;
    margin-right: $gut-width;
  }

  .col-md-4{
    width: 26.6666666667%;
    margin-right: $gut-width;
  }

  .col-md-5{
    width: 33.3333333333%;
    margin-right: $gut-width;
  }

  .col-md-6{
    width: 40%;
    margin-right: $gut-width;
  }

  .col-md-7{
    width: 46.6666666667%;
    margin-right: $gut-width;
  }

  .col-md-8{
    width: 53.3333333334%;
    margin-right: $gut-width;
  }

  .col-md-9{
    width: 60%;
    margin-right: $gut-width;
  }

  .col-md-10{
    width: 66.6666666667%;
    margin-right: $gut-width;
  }

  .col-md-11{
    width: 73.3333333334%;
    margin-right: $gut-width;
  }

  .col-md-12{
    width: 80%;
    margin-right: $gut-width;
  }

  .col-md-13{
    width: 86.6666666667%;
    margin-right: $gut-width;
  }

  .col-md-14{
    width: 93.3333333334%;
    margin-right: $gut-width;
  }

  .col-md-15{
    width: 100%;
    margin-right: $gut-width;
  }
  
}



body{
	font-family: "ff-tisa-sans-web-pro";
	line-height: 2;
}


// header - nav bar

header{
	margin: 2rem auto;
}

nav{
	background-color: $brand-color1;
	width: 100%;
	height: 55px;
}

.nav-buttons-container{
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding-top: 0.7rem;
  
  a{
    padding: 0.3rem 1rem 0.4rem 1rem;
    border-radius: 10px;
    color: white;
    text-decoration: none;

    &:hover{
      background-color: #652319;
      cursor: pointer;
    }
  }

}

.hours-container{
	background-color: $brand-color2;
	width: 100%;
	height: 15px;
  text-align: center;
  
  a{
    color: white;
    text-decoration: none;
    margin-right: 3rem;
    border-radius: 10px;

    &:hover{
      background-color: #468238;
    }
  }

}


// wrapper - main middle content

.home-page-container{
	display: inline-block;
}

.big-picture{
	width: 100%;
  padding-bottom: 2rem;
}

.pizza-image{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5rem 0;
  position: relative;
  background-color: darken($brand-color3, 25%);
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;

  &:hover{
    cursor: pointer;
  }

  a{
    text-decoration: none;
    color: white;
    font-weight: 400;

    &:hover{
      color: #529843;
    }
  }
}


.welcoming-messege{
  z-index: 2;
  padding: 1rem 0 2rem 4rem;
  display: inline-block;
  position: relative;

  h1{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;

    sup{
      top: -1.8rem;
    }
  }
}

.to-go-box{
  z-index: 2;
  padding: 1rem;
  margin-top: 0;
  display: inline-block;
  position: relative;
  background-color: $brand-color3;
  margin-left: 8rem;

  &hover{
    cursor: pointer;
  }

  h2{
    text-align: right;
    margin: 0 auto;
    line-height: 40px;
  }
}

.text-20{
  font-size: 20px;
}

.text-28{
  font-size: 28px;
}

.text-35{
  font-size: 35px;
}

.text-45{
  font-size: 45px;
  padding-top: -10px;
}

.text-55{
  font-size: 55px;
}

.text-80{
  font-size: 80px;
  line-height: 20px;
}

.text-100{
  font-size: 100px;
  line-height: 50px;
}


.big-picture-pizza{
  @extend %front-page-bg-image;
  height: 100%;
  max-width: 960px;
  opacity: 0.6;
}


%front-page-image-container{
  float: left;
  padding: 3rem 0;
  max-height: 350px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

%front-page-bg-image{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0 auto;
}

.first-row{
  width: 100%;
  background-color: $brand-color2;
}

.sicilian-mondays{
	background-color: darken($brand-color1, 10%);
  text-align: center;

  @extend %front-page-image-container;

  h2{
    z-index: 2;
    position: relative;
    color: white;
    font-size: 25px;
    margin: 0 auto;
  }

  h3{
    z-index: 2;
    margin: 0;
    padding-top: -1rem;
    position: relative;
    color: $brand-color4;
    text-border: 1px solid $brand-color1;
    font-size: 55px;
    line-height: 1.2;
  }
}

.sicilian-image{
  @extend %front-page-bg-image;
}

.queen-of-pies{
	@extend %front-page-image-container;

  h2{
    z-index: 2;
    font-style: italic;
    color: white;
    font-size: 25px;
  }

  h3{
    z-index: 2;
    font-style: italic;
    color: $brand-color4;
    font-size: 55px;
  }
}

.queen-of-pies-image{
  @extend %front-page-bg-image;
  width: 100%;
}

.our-photos{
	height: 300px; //placeholder
	background-color: #DEB540;
	float: left;
}

.our-events{
	height: 300px; //placeholder
	background-color: $brand-color2;
	float: left;
}


footer{
  padding-bottom: 2rem;
	background-color: #252525;
	clear: both;

	color: white;

	a{
		color: #e9f898;
	}
}

%foot-divs{
	width: 50%;
	margin: 0 auto;
	padding-top: 3rem;
  padding-bottom: 1rem;
	text-align: center;
	font-weight: bold;
  font-size: 15px
}

.foot-maillist, .foot-copyright-info{
	@extend %foot-divs;
}





