<header class="site-header">

	<div class="logo-container">
		<a href="index.html"> <img class="logo" src="../site-images/logo.gif"> </a>
	</div>

	<nav class="col-md-15">

		<!-- MOBILE/SMALL BROWSER SIZE -->
		<div class="nav-buttons-container-sm col-sm-1">
			
			<div class="nav-container">
				<a href="index.html" {% if page.url == '/' %} class="current-nav-button" {% endif %}> Home </a>

				<a href="menu-page.html" {% if page.url == '/menu-page.html' %} class='current-nav-button' {% endif %}> Menu </a>
			
				<a href="#"> Jobs </a>

				<a href="#"> Store </a>
			</div>

		</div>


		<!-- DESKTOP/MID-LARGE BROWSER SIZE -->
		<div class="nav-buttons-container-md col-md-5">
			
			<div class="nav-container-left">
				<a href="index.html" {% if page.url == '/' %} class="current-nav-button" {% endif %}> Home </a>

				<a href="menu-page.html" {% if page.url == '/menu-page.html' %} class='current-nav-button' {% endif %}> Menu </a>
			</div>
			

			<div class="nav-container-right">
				<a href="#"> Jobs </a>

				<a href="#"> Store </a>
			</div>
		</div>

	</nav>

</header>
