
@import 'variables';

.menu-container{
  max-width: 1024px;
  margin: 3rem auto;
  overflow: hidden;
  box-sizing: border-box;
  border: 15px solid $brand-color1;
  border-radius: 20px;
  
  h1, h2{
    clear: both;
  }

  h1{
    margin: 2rem;
  }

  h3{
    margin-top: 0;
  }

  p{
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.row-food{
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 1rem auto;
}

.food-option, .food-extra-info{
  float: left;
}

.food-price{
  float: right;
}

.menu-pizza{
  width: 90%;
  box-sizing: border-box;
  min-width: 300px;
  margin: 0 auto;
  padding: 2rem;

}





