
@import 'variables';


// 0, 620, 760


@media (min-width: 0){

	.extra_info{
		display: none;
	}

	.logo-container{
		z-index: 2;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		position: relative;
	}

	.logo{
	  	margin: 1em auto;
	}

	nav{
		border-bottom: 0;
	}

	.nav-buttons-container-sm{
		padding-top: 0;
  		padding-bottom: 0;

  		a{
  			border-radius: 0;
  		}
	}

	.nav-buttons-container-md{
		display: none;
	}

	

	.more-about-us-btn{
		display: block;
	}
	
	.about-us-text{
		width: 100%;
	}

	.about-us-img{
		display: none;
	}

	.extra-info{
		margin: 0 auto;
		margin-top: 1rem;
	}


	.hours, .location, .more-about-us{
		width: 100%;
		float: none;
	}

	.hours{
		p{
			width: 65%;
		}
	}

	.location{
		margin-top: 2rem;
	}

	.more-about-us{
		display: none;
	}
}





@media (min-width: 650px){
	
	.logo-container{
	    z-index: 2;
	    width: 100%;
	    max-width: 184px;
	    margin: 1rem auto;
	    position: relative;
	    margin-bottom: -90px;
	}


	nav{
		border-bottom: 25px solid $brand-color2;
	}

	.nav-buttons-container-md{
		display: block;
	}

	.nav-buttons-container-sm{
		display: none;
	}

	.nav-container-left{
		padding-left: 2.5em;
	}

	.nav-container-right{
		padding-right: 2.5em;
	}


	.extra_info{
		display: inline;
	}
	
	.home-slice-intro{
		padding-bottom: 2rem;
	}

	.more-about-us-btn{
		display: none;
	}

	.about-us-text{
		width: 60%;
	}

	.about-us-img{
		display: block;
	}


	.extra-info{
		margin: 0 auto;
	}

	.hours, .location{
		p, .bold-text{
			margin-top: 1.5rem;
		}
	}

	.more-about-us{
		display: block;
		margin-top: 4rem;
	}

	.more-about-us-link{
	  width: 200px;
	  margin: 0 auto;
	}
}





@media(min-width: 760px){

	.extra-info{
		margin-top: 2rem;
	}

	.hours, .location, .more-about-us{
		width: 40%;
	}

	.hours, .more-about-us{
		float: left;
		margin-left: 0;
		margin-right: 5%;
	}

	.location{
		margin: 0;
		margin-right: 5%;
		float: right;
	}

	.more-about-us-link{
	  width: 40%;
	  margin: 1rem 2.5%;
	  min-width: 200px;
	  float: left;

	}


}









