
@import 'variables';


// 0, 600, 900


@media (min-width: 0){

	h1{
		font-size: 16px;
	}

	h2{
		font-size: 18px;
		letter-spacing: 2px;
	}

	p{
		font-size: 15px;
	}

	.extra_info{
		display: none;
	}

	.logo-container{
		z-index: 2;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		position: relative;
	}

	.logo{
	  	margin: 1em auto;
	}

	nav{
		border-bottom: 0;
	}

	.nav-buttons-container{
		padding-top: 0;
  		padding-bottom: 0;

  		a{
  			border-radius: 0;
  		}
	}

	.nav-container-small{
		display: block;
	}

	.nav-container-left{
		display: none;
	}

	.nav-container-right{
		display: none;
	}

	

	.more-about-us-btn{
		width: 140px;
		height: 50px;
		box-sizing: border-box;
		padding-top: 0.5em;
		left: 31%;
		border-radius: 10px;
		background-color: $brand-color2;
		position: relative;
		text-align: center;

		&:hover{
			background-color: darken($brand-color2, 10%);
			cursor: pointer;
		}
	}
	
	.about-us-text{
		width: 100%;
	}

	.about-us-img{
		display: none;
	}

	.hours-location{
		margin: 0 auto;
		margin-top: 1rem;
	}


	.hours, .location{
		width: 100%;
		float: none;
	}

	.location{
		margin-top: 2rem;
	}



	.add-info{
		display: none;
	}
}



@media (min-width: 410px){
	
	nav{
		border-bottom: 25px solid $brand-color2;
	}

	.nav-buttons-container{
		padding-top: 0.5rem;
  		padding-bottom: 0.3rem;

  		a{
  			border-radius: 10px;
  		}
	}

	.nav-container-small{
		display: none;
	}

	.nav-container-left{
		display: block;
		padding-left: 2.5em;
	}

	.nav-container-right{
		display: block;
		padding-right: 2.5em;
	}


	.extra_info{
		display: inline;
	}
	


	.home-slice-intro{
		padding-bottom: 2rem;
	}

	.more-about-us-btn{
		display: none;
	}


	.hours-location{
		margin: 0 auto;
	}

	.add-info{
		display: block;
	}
}



@media(min-width: 600px){
	
	h2{
	    margin: 0 auto 1rem auto;
	    line-height: 1.4;
	}

	.logo-container{
	    z-index: 2;
	    width: 100%;
	    max-width: 184px;
	    margin: 1rem auto;
	    position: relative;
	    margin-bottom: -90px;
	}

	.hours-location{
		margin-top: 2rem;
	}

	.hours, .location{
		width: 40%;
	}

	.hours{
		float: left;
		margin-left: 0;
		margin-right: 5%;
	}

	.location{
		margin: 0;
		margin-right: 5%;
		float: right;
	}

	.about-us-text{
		width: 60%;
	}

	.about-us-img{
		display: block;
	}

}









