
$brand-color1: #d30300; //red
$brand-color2: #529843; //green
$brand-color3: #dd6503; //orange
$brand-color4: #e9f898; //yellow
$brand-color5: #252525; //grey


body{
	font-family: "ff-tisa-sans-web-pro";
	line-height: 2;
 // background-color: $brand-color5;

	a{
	    &:hover{
	      cursor: pointer;
	    }
  	}
}

h1{
	font-family: "ff-more-web-pro-condensed";
	text-align: center;
	margin-bottom: 2rem;
	letter-spacing: 2px;
	font-style: italic;
}

h2{
	text-align: center;
	margin-bottom: 0.2rem;
	font-family: "ff-more-web-pro-condensed";
	letter-spacing: 1px;
	font-style: italic;
}

.bold-text{
  font-weight: bold;
}





