
$brand-color1: #d30300; //red
$brand-color2: #529843; //green
$brand-color3: #dd6503; //orange
$brand-color4: #e9f898; //yellow
$brand-color5: #252525; //grey


body{
	font-family: "ff-tisa-sans-web-pro";
	line-height: 2;
 // background-color: $brand-color5;

	a{
		color: $brand-color4;
		text-decoration: underline;

	    &:hover{
	      cursor: pointer;
	    }
  	}
}

h1{
	font-family: "ff-more-web-pro-condensed";
	text-align: center;
	margin-top: -1rem;
	margin-bottom: 2rem;
	font-size: 1.5em;
	letter-spacing: 2px;
	font-style: italic;
	color: $brand-color1;
}

h2{
	text-align: center;
	margin-bottom: 0.2rem;
	font-family: "ff-more-web-pro-condensed";
	font-size: 1.2em;
	letter-spacing: 1px;
	font-style: italic;
}

h3{
	color: $brand-color1;
	margin: 1rem auto 0 auto;
    text-align: center;
}

.bold-text{
  font-weight: bold;
  margin-bottom: -0.2rem;
}

.no-underline{
	text-decoration: none;
}





